@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Raleway:wght@100&display=swap');

body{
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555555;

	-webkit-font-smoothing:antialiased;
	-webkit-overflow-scrolling: touch ;
	-o-font-smoothing:antialiased;
	-o-overflow-scrolling: touch ;
	-moz-font-smoothing:antialiased;
	-moz-overflow-scrolling: touch ;

	margin-top: 70px;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}
p{
	line-height: 28px;
	margin-bottom: 25px;
}

.centered{
	text-align: center;
}

a{
	color: #f85c37;
}
a:hover, a:focus{
	color: #7b7b7b;
	text-decoration: none;
}
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.navbar{
	display:
	font-weight: 800;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-inverse{
	background: #2d2d2d;
	border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav > .active > a{
	background-color: #ff7878;
}
.navbar-inverse .navbar-brand{
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}
#header{
	background: url('img.jpg') no-repeat center top;
	margin-top: 0px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;

	background-size: 100%;

	-o-background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
}
#header h1{
	font-weight: 590;
	letter-spacing: 3px;
	color: white;
}
#header h3{
	color: white;
	letter-spacing: 2px;
}
.w{
	margin-top: 20px;
	font-size: 30px;
}
#advice{
	color: #80969B;
}
.inform{
	background:url('petyx.jpg') no-repeat center top;
	min-height: 600px; 
	background-size: 100%;
}
.inform h2{
	font-weight: 700;
	color:##62CCC1;
}
.inform li{
	font-weight: 600;
	font-size: 20px;
	color: #D968C0;
}
#products{
	display: none;
}
#contact{
	display: none;
}

